node_modules/
vendor/
.env
.env.backup
.env.production
*.log
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
public/hot
public/storage
storage/*.key
.next/
out/
build/
coverage/
*.sqlite
*.sqlite3
*.db
.gemini/
